.about {
    padding-top: 120px;
    &__title {
        position: relative;
        padding-left: 12px;
        z-index: 2;
        @include circle;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 400px 570px;
        grid-template-rows: minmax(245px, auto) minmax(255px, auto);
        grid-auto-rows: minmax(245px, auto);
        gap: 40px 70px;
    }
    &__img {
        grid-row: 1 / 3;
        grid-column: 1/2;
        img {
            width: 100%;
        }
    }
    &__me {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        &-descr {
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: #000000;
            margin-top: 20px;
        }
        .divider {
            margin: 0;
        }
    }
    &__skills {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        display: grid;
        grid-template-columns: repeat(2, 260px);
        grid-template-rows: repeat(2, minmax(116px, auto));
        grid-auto-rows: minmax(116px, auto);
        gap: 20px 50px;
        margin-bottom: 60px;
        &-item {
            display: grid;
            grid-template-columns: 40px 200px;
            column-gap: 20px;
        }
        &-circle {
            position: relative;
            padding: 5px 0 0 15px;
            height: 20px;
            @include circle;
            &:before {
                content: '';
                top: -10px;
            }
        }
        &-descr {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #000000;
            grid-column: 2/3;
        }
    }
}